.debug {
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: rgba(black, .3);
	backdrop-filter: blur(5px);
	padding: 20px;
	font-family: monospace;
	display: none;
	z-index: 100;
	p {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		span {
			color: tomato;
		}
	}
	h6 {
		font-weight: 700;
		font-size: 1.2rem;
	}
}